.bg1 { background-color : LightBlue;  }
.bg2 { background-color : lightyellow;  }
.bg3 { background-color : lightgreen;  }


.card
{
    border:1px solid Blue;
    color: Blue;		 
    margin: 5px;
    width: 200px;
    height: 80px;
    text-align: center;	
    float: left;
    border-top-left-radius: 5px;	
    border-top-right-radius: 5px;
    border-top-width : 20px;	
}